<%- include("partials/header"); %>

<body>

    <!-- Page header -->

    <div class="header">
        <h1>Spending Tracker</h1>
        <div>
            <button onclick="openAddForm()"><i class="fa-solid fa-circle-plus"></i> <span class="headerBtnText">Add New Item</span></button>
            <button><i class="fa-solid fa-magnifying-glass"></i> <span class="headerBtnText">Search Items</span></button>
            <button><i class="fa-solid fa-chart-simple"></i> <span class="headerBtnText">Summary</span></button>
            <button onclick="toggleDropdown()"><i class="fa-solid fa-user"></i> <span class="headerBtnText"><%= username %></span></button>
        </div>
    </div>

    <div class="dropdown hide" id="dropdown">
        <i class="fa-solid fa-user"></i><h3><%= username %></h3>
        <hr>
        <div>
            <a href=""><p><i class="fa-solid fa-address-card"></i>Profile</p><i class="fa-solid fa-angle-up fa-rotate-90"></i></a>
            <a href="" onclick="logout()"><p><i class="fa-solid fa-right-from-bracket"></i>Log Out</p><i class="fa-solid fa-angle-up fa-rotate-90"></i></a>
        </div>
    </div>

    <div class="backdrop hide" id="backdrop-light" onclick="toggleDropdown()"></div>

    <!-- Dashboard -->

    <div class="dashBoard">
        <div class="Income">
            <h3>Income</h3>
            <h2>Rs.<%= TotalIncome %>.00</h2>
        </div>
        <div class="Expense">
            <h3>Expense</h3>
            <h2>Rs.<%= TotalExpense %>.00</h2>
        </div>
        <div class="balence">
            <h3>Balance </h3>
            <h2>Rs.<%= Balance %>.00</h2>
        </div>
    </div>

    <!-- Transaction History -->

    <div class="history">
        <h2>Transaction History</h2>

        <% historyItems.forEach(item => { %>

        <div class="<%= item.type == 'Income' ? 'incomeItem' : 'expenseItem' %>">
            <div class="col1">
                <h3><%= item.type %> - <%= item.category %></h3>
                <h4><%= item.date.toDateString() %></h4>
                <h2>Rs.<%= item.amount %>.00</h2>
            </div>
            <div>
                <p><%= item.description == '' ? 'No Description' : item.description %></p>
                <div class="btnArray">
                    <button onclick="deleteItem('<%= item._id %>')"><i class="fa-solid fa-trash"></i></button>
                    <button onclick="openUpdateForm('<%= item._id %>', '<%= item.amount %>', '<%= item.category %>', '<%= item.date %>', '<%= item.description %>', '<%=item.type%>')"><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </div>
        </div>

        <% }); %>   
    </div>
    
    <div class="backdrop dark hide" id="backdrop-dark" onclick="closeForm()"></div>

    <!-- Add new items -->

    <div class="add hide" id="add">
        <div class="toggleBtnArray">
            <button onclick="leftForm()" class="toggleBtn toggleBtn-income">Add Income</button>
            <button onclick="rightForm()" class="toggleBtn toggleBtn-expense">Add Expense</button>
        </div>

        <%- include("partials/itemForm", {type: "Income" }) %>
        <%- include("partials/itemForm", {type: "Expense" }); %>

    </div>

    <!-- Edit Item -->

    <div class="add hide" id="update">
        <div class="toggleBtnArray">
            <button onclick="leftUpdateForm()" class="toggleBtn toggleBtn-income">Add Income</button>
            <button onclick="rightUpdateForm()" class="toggleBtn toggleBtn-expense">Add Expense</button>
        </div>

        <%- include("partials/itemForm", {type: "Income-Upd" }); %>
        <%- include("partials/itemForm", {type: "Expense-Upd" }); %>

    </div>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/update.js"></script>
</body>

</html>