<%- include("partials/header"); %>

<body>
    <div class="header">
        <h1>Spending Tracker</h1>
        <div>
            <button onclick="toggleForm()"><i class="fa-solid fa-circle-plus"></i> <span class="headerBtnText">Add New Item</span></button>
            <button><i class="fa-solid fa-magnifying-glass"></i> <span class="headerBtnText">Search Items</span></button>
            <button><i class="fa-solid fa-chart-simple"></i> <span class="headerBtnText">Summary</span></button>
            <button onclick="toggleDropdown()"><i class="fa-solid fa-user"></i> <span class="headerBtnText"><%= username %></span></button>
        </div>
    </div>

    <div class="dropdown hide" id="dropdown">
        <i class="fa-solid fa-user"></i><h3><%= username %></h3>
        <hr>
        <div>
            <a href=""><p><i class="fa-solid fa-address-card"></i>Profile</p><i class="fa-solid fa-angle-up fa-rotate-90"></i></a>
            <a href="" onclick="logout()"><p><i class="fa-solid fa-right-from-bracket"></i>Log Out</p><i class="fa-solid fa-angle-up fa-rotate-90"></i></a>
        </div>
    </div>

    <div class="backdrop hide" id="backdrop-light" onclick="toggleDropdown()"></div>

    <div class="dashBoard">
        <div class="income">
            <h3>Income</h3>
            <h2>Rs.<%= TotalIncome %>.00</h2>
        </div>
        <div class="expense">
            <h3>Expense</h3>
            <h2>Rs.<%= TotalExpense %>.00</h2>
        </div>
        <div class="balence">
            <h3>Balance </h3>
            <h2>Rs.<%= Balance %>.00</h2>
        </div>
    </div>

    <div class="backdrop dark hide" id="backdrop-dark" onclick="toggleForm()"></div>
    <div class="add hide" id="add">
        <div class="toggleBtnArray">
            <button onclick="leftForm()" class="toggleBtn toggleBtn-income">Add Income</button>
            <button onclick="rightForm()" class="toggleBtn toggleBtn-expense">Add Expense</button>
        </div>
        <!-- Add Income -->

        <form action="/add/Income" class="leftForm active" id="leftForm" method="post"
            onsubmit="handleIncomeSubmit()">
            <h2>Add new Income Item</h2>
            <div>
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <div>
                <label for="type">Type</label>
                <select name="type" id="incomeTypes" required onchange="checkForNewIncomeOption()">
                    <option>Allowance</option>
                    <option>Bank Interest</option>
                    <option>Bonuses</option>
                    <option>Freelance Income</option>
                    <option>Gifts</option>
                    <option>Part-time Job Income</option>
                    <option>Rental Income</option>
                    <option>Salary</option>
                    <option>Scholarships/Grants</option>
                    <option value="new">Add New</option>
                </select>
                <input name="type" class="narrow" type="text" id="newIncomeType" style="display:none;" placeholder="Enter new income type">
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" name="date">
            </div>
            <div>
                <label for="description">Description</label>
                <input type="text" name="description">
            </div>
            <div class="btnArray">
                <button type="submit" value="income" class="income"><i class="fa-solid fa-circle-plus"></i> Income</button>
            </div>
        </form>

        <!-- Add Expese -->

        <form action="/add/Expense" class="rightForm" id="rightForm" method="post" onsubmit="handleExpenseSubmit()">
            <h2>Add new Expense Item</h2>
            <div>
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount">
            </div>
            <div>
                <label for="expenseTypes">Type</label>
                <select name="type" id="expenseTypes" required onchange="checkForNewExpenseOption()">
                    <option>Childcare</option>
                    <option>Clothing</option>
                    <option>Debt Repayment</option>
                    <option>Dining Out</option>
                    <option>Education</option>
                    <option>Entertainment</option>
                    <option>Fuel</option>
                    <option>Gifts/Donations</option>
                    <option>Health</option>
                    <option>Household Supplies</option>
                    <option>Insurance</option>
                    <option>Maintenance/Repairs</option>
                    <option>Pets (Food, Vet Bills)</option>
                    <option>Personal Care</option>
                    <option>Public Transport</option>
                    <option>Rent</option>
                    <option>Savings/Investments</option>
                    <option>Travel</option>
                    <option>Water</option>
                    <option value="new">Add New</option>
                </select>
                <input name="type" class="narrow" type="text" id="newExpenseType" style="display:none;" placeholder="Enter new expense type">
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" name="date">
            </div>
            <div>
                <label for="description">Description</label>
                <input type="text" name="description">
            </div>
            <div class="btnArray">
                <button type="submit" value="expense" class="expense"><i class="fa-solid fa-circle-minus"></i> Expense</button>
            </div>
        </form>
    </div>

    <!-- Transaction History -->

    <div class="history">
        <h2>Transaction History</h2>

        <% historyItems.forEach(item => { %>

        <div class="<%= item.type == 'Income' ? 'incomeItem' : 'expenseItem' %>">
            <div class="col1">
                <h3><%= item.type %> - <%= item.category %></h3>
                <h4><%= item.date.toDateString() %></h4>
                <h2>Rs.<%= item.amount %>.00</h2>
            </div>
            <div>
                <p><%= item.description == '' ? 'No Description' : item.description %></p>
                <div class="btnArray">
                    <button><i class="fa-solid fa-trash"></i></button>
                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </div>
        </div>

        <% }); %>
    </div>
</body>

</html>